#logo{
    width: 500px;
    height: auto;
    align-items: center;
    margin-top: 100px;
    
}

#search-button{
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(229, 239, 239);
    width: 100px;
    color:black;
   
    
}

#search{
    width: 500px;
    height: 30px;
    border: solid 2px rgb(50, 46, 46);
    border-radius: 22px;
    padding: 20px;  
    background-color: rgb(229, 239, 239);
    
    


}

#lucky-button{
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(229, 239, 239);
    width: 150px;
    color:black;
}

#youtubelogo{
    width: 70px;
    height: auto;
     margin:0%;
    padding:0%;
}

.products{
    margin:5px;
    padding:0%;
    display: flex;
    justify-content: center;
}

#top-section{
    margin:0%;
    padding:0%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom{
    margin:0%;
    padding:0%;
    display: flex;
    justify-content: center;
}

body{
    background-color: #201f25;
    color: white;
}